extends layout

block content
  h1= title
  - let aeroplane=results
  div(class="container-fluid")
  div(class="row m-1")
   each c in aeroplane
    - let destination = `dispatch(\"/aeroplane/update?id=${c._id}\")`
    div(class="row-sm-2" class="m-1") #{c.aer_class}, #{c.aer_fare}, #{c.aer_mem}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path)
    {
      window.location.href=path
    } 