extends layout

block content
  h1= title
  - let aeroplane=results
  div(class="container-fluid")
  div(class="row")
   each c,indices in aeroplane
    div(class="col-sm-2" onclick =`buy(${indices})`) #{c.aer_class}, #{c.aer_fare}, #{c.aer_mem}
   script.
    function buy(k)
    {
      alert(`You purchased Item ${k+1}`)
    } 
   